@{
    ViewBag.Title = "About ComicRating";
}

<h2>About ComicRating</h2>
<p>
     This is a short, one day application to show my ability learn ASP/C#. Feel free to create a user, or multiple users, and take a look around.
</p>
