@{
    ViewBag.Title = "Home Page";
}

<h2>@ViewBag.Message</h2>
<p>
    @Html.ActionLink("Browse All The Things","All","Browse")<br />
    @Html.ActionLink("Browse Publishers", "Publishers", "Browse")
</p>
