@model ComicRating.Models.Issue

@{
    ViewBag.Title = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<fieldset>
    <legend>Issue</legend>

    <div class="display-label">series</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.series.name)
    </div>

    <div class="display-label">title</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.title)
    </div>

    <div class="display-label">number</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.number)
    </div>
</fieldset>
@using (Html.BeginForm()) {
    <p>
        <input type="submit" value="Delete" /> |
        @Html.ActionLink("Back to List", "Index")
    </p>
}
